/**
 * PRIDE Proteomes RESTful web service API
 * For more details and examples please see the <a href=\"/pride/help/proteomes/access/webservice\">additional documentation pages</a>
 *
 * OpenAPI spec version: 1.0
 * Contact: pride-support@ebi.ac.uk
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package uk.ac.ebi.pride.proteomes.web;

import uk.ac.ebi.pride.proteomes.web.ApiCallback;
import uk.ac.ebi.pride.proteomes.web.ApiClient;
import uk.ac.ebi.pride.proteomes.web.ApiException;
import uk.ac.ebi.pride.proteomes.web.ApiResponse;
import uk.ac.ebi.pride.proteomes.web.Configuration;
import uk.ac.ebi.pride.proteomes.web.Pair;
import uk.ac.ebi.pride.proteomes.web.ProgressRequestBody;
import uk.ac.ebi.pride.proteomes.web.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import uk.ac.ebi.pride.proteomes.web.client.Protein;
import uk.ac.ebi.pride.proteomes.web.client.ProteinList;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProteincontrollerApi {
    private ApiClient apiClient;

    public ProteincontrollerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProteincontrollerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getByIdUsingGET3 */
    private com.squareup.okhttp.Call getByIdUsingGET3Call(String id, Boolean includeDetails, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getByIdUsingGET3(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/protein/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (includeDetails != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "includeDetails", includeDetails));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * getById
     * 
     * @param id id (required)
     * @param includeDetails includeDetails (optional, default to true)
     * @return Protein
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Protein getByIdUsingGET3(String id, Boolean includeDetails) throws ApiException {
        ApiResponse<Protein> resp = getByIdUsingGET3WithHttpInfo(id, includeDetails);
        return resp.getData();
    }

    /**
     * getById
     * 
     * @param id id (required)
     * @param includeDetails includeDetails (optional, default to true)
     * @return ApiResponse&lt;Protein&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Protein> getByIdUsingGET3WithHttpInfo(String id, Boolean includeDetails) throws ApiException {
        com.squareup.okhttp.Call call = getByIdUsingGET3Call(id, includeDetails, null, null);
        Type localVarReturnType = new TypeToken<Protein>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getById (asynchronously)
     * 
     * @param id id (required)
     * @param includeDetails includeDetails (optional, default to true)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getByIdUsingGET3Async(String id, Boolean includeDetails, final ApiCallback<Protein> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getByIdUsingGET3Call(id, includeDetails, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Protein>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getProteinCountUsingGET1 */
    private com.squareup.okhttp.Call getProteinCountUsingGET1Call(String species, String tissue, String mod, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/protein/count".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (species != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "species", species));
        if (tissue != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "tissue", tissue));
        if (mod != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "mod", mod));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * getProteinCount
     * 
     * @param species species (optional, default to 9606)
     * @param tissue tissue (optional, default to any)
     * @param mod mod (optional, default to any)
     * @return Long
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Long getProteinCountUsingGET1(String species, String tissue, String mod) throws ApiException {
        ApiResponse<Long> resp = getProteinCountUsingGET1WithHttpInfo(species, tissue, mod);
        return resp.getData();
    }

    /**
     * getProteinCount
     * 
     * @param species species (optional, default to 9606)
     * @param tissue tissue (optional, default to any)
     * @param mod mod (optional, default to any)
     * @return ApiResponse&lt;Long&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Long> getProteinCountUsingGET1WithHttpInfo(String species, String tissue, String mod) throws ApiException {
        com.squareup.okhttp.Call call = getProteinCountUsingGET1Call(species, tissue, mod, null, null);
        Type localVarReturnType = new TypeToken<Long>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getProteinCount (asynchronously)
     * 
     * @param species species (optional, default to 9606)
     * @param tissue tissue (optional, default to any)
     * @param mod mod (optional, default to any)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProteinCountUsingGET1Async(String species, String tissue, String mod, final ApiCallback<Long> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProteinCountUsingGET1Call(species, tissue, mod, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Long>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getProteinListForPeptideUsingGET */
    private com.squareup.okhttp.Call getProteinListForPeptideUsingGETCall(String sequence, Integer species, Boolean includeSequence, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'sequence' is set
        if (sequence == null) {
            throw new ApiException("Missing the required parameter 'sequence' when calling getProteinListForPeptideUsingGET(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/protein/list/peptide/{sequence}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "sequence" + "\\}", apiClient.escapeString(sequence.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (species != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "species", species));
        if (includeSequence != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "includeSequence", includeSequence));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * getProteinListForPeptide
     * 
     * @param sequence sequence (required)
     * @param species species (optional, default to 9606)
     * @param includeSequence includeSequence (optional, default to false)
     * @return ProteinList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProteinList getProteinListForPeptideUsingGET(String sequence, Integer species, Boolean includeSequence) throws ApiException {
        ApiResponse<ProteinList> resp = getProteinListForPeptideUsingGETWithHttpInfo(sequence, species, includeSequence);
        return resp.getData();
    }

    /**
     * getProteinListForPeptide
     * 
     * @param sequence sequence (required)
     * @param species species (optional, default to 9606)
     * @param includeSequence includeSequence (optional, default to false)
     * @return ApiResponse&lt;ProteinList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProteinList> getProteinListForPeptideUsingGETWithHttpInfo(String sequence, Integer species, Boolean includeSequence) throws ApiException {
        com.squareup.okhttp.Call call = getProteinListForPeptideUsingGETCall(sequence, species, includeSequence, null, null);
        Type localVarReturnType = new TypeToken<ProteinList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getProteinListForPeptide (asynchronously)
     * 
     * @param sequence sequence (required)
     * @param species species (optional, default to 9606)
     * @param includeSequence includeSequence (optional, default to false)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProteinListForPeptideUsingGETAsync(String sequence, Integer species, Boolean includeSequence, final ApiCallback<ProteinList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProteinListForPeptideUsingGETCall(sequence, species, includeSequence, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProteinList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getProteinListUsingGET1 */
    private com.squareup.okhttp.Call getProteinListUsingGET1Call(String species, String tissue, String mod, Boolean includeSequence, Integer page, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/protein/list".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (species != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "species", species));
        if (tissue != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "tissue", tissue));
        if (mod != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "mod", mod));
        if (includeSequence != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "includeSequence", includeSequence));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * getProteinList
     * 
     * @param species species (optional, default to 9606)
     * @param tissue tissue (optional, default to any)
     * @param mod mod (optional, default to any)
     * @param includeSequence includeSequence (optional, default to false)
     * @param page page (optional, default to 0)
     * @param pageSize pageSize (optional, default to 100)
     * @return ProteinList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProteinList getProteinListUsingGET1(String species, String tissue, String mod, Boolean includeSequence, Integer page, Integer pageSize) throws ApiException {
        ApiResponse<ProteinList> resp = getProteinListUsingGET1WithHttpInfo(species, tissue, mod, includeSequence, page, pageSize);
        return resp.getData();
    }

    /**
     * getProteinList
     * 
     * @param species species (optional, default to 9606)
     * @param tissue tissue (optional, default to any)
     * @param mod mod (optional, default to any)
     * @param includeSequence includeSequence (optional, default to false)
     * @param page page (optional, default to 0)
     * @param pageSize pageSize (optional, default to 100)
     * @return ApiResponse&lt;ProteinList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProteinList> getProteinListUsingGET1WithHttpInfo(String species, String tissue, String mod, Boolean includeSequence, Integer page, Integer pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getProteinListUsingGET1Call(species, tissue, mod, includeSequence, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<ProteinList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * getProteinList (asynchronously)
     * 
     * @param species species (optional, default to 9606)
     * @param tissue tissue (optional, default to any)
     * @param mod mod (optional, default to any)
     * @param includeSequence includeSequence (optional, default to false)
     * @param page page (optional, default to 0)
     * @param pageSize pageSize (optional, default to 100)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProteinListUsingGET1Async(String species, String tissue, String mod, Boolean includeSequence, Integer page, Integer pageSize, final ApiCallback<ProteinList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProteinListUsingGET1Call(species, tissue, mod, includeSequence, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProteinList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
